#{extends 'main.html' /}
#{set title:'Kontaktliste' /}

<h1>Liste der Kontakte</h1>

#{ifnot contacts}
    <p>
        Es konnten keine Kontakte gefunden werden
    </p>
#{/ifnot}
#{else}
   <table>
       <thead>
           <tr>
               <th>Vorname</th>
               <th>Nachname</th>
               <th>Link</th>
           </tr>
       </thead>
       <tbody>
           #{list contacts, as:'contact'}
               <tr>
                   <td>${contact.firstName}</td>
                   <td>${contact.name}</td>
                   <td><a href=${contact.permalink} target=_blank>zu Xing</a></td>
               </tr>
           #{/list}
       </tbody>
   </table> 
#{/else}