#{extends 'main.html' /}
#{set title:'Kontaktliste' /}

<h1>Liste der anwesenden Xing-Kontakte</h1>

#{ifnot presentContacts}
    <p>
        Es konnten keine anwesenden Kontakte gefunden werden
    </p>
#{/ifnot}
#{else}
   <table>
       <thead>
           <tr>
               <th>Displayname</th>
               <th>Montag</th>
               <th>Dienstag</th>
               <th>Mittwoch</th>
               <th>Donnerstag</th>
               <th>Freitag</th>
               <th>Samstag</th>
               <th>Sonntag</th>
           </tr>
       </thead>
	<tbody>
		<tr>
			<td>Ihre Anwesenheit</td>
			<td #{if currentUser.presentMonday}
					class = "table_yes">ja</td>
				#{/if}
				#{ifnot currentUser.presentMonday}
					class = "table_no">nein</td>
				#{/ifnot}
			<td #{if currentUser.presentTuesday}
					class = "table_yes">ja</td>
				#{/if}
				#{ifnot currentUser.presentTuesday}
					class = "table_no">nein</td>
				#{/ifnot}
			<td #{if currentUser.presentWednesday}
					class = "table_yes">ja</td>
				#{/if}
				#{ifnot currentUser.presentWednesday}
					class = "table_no">nein</td>
				#{/ifnot}
			<td #{if currentUser.presentThursday}
					class = "table_yes">ja</td>
				#{/if}
				#{ifnot currentUser.presentThursday}
					class = "table_no">nein</td>
				#{/ifnot}
			<td #{if currentUser.presentFriday}
					class = "table_yes">ja</td>
				#{/if}
				#{ifnot currentUser.presentFriday}
					class = "table_no">nein</td>
				#{/ifnot}
			<td #{if currentUser.presentSaturday}
					class = "table_yes">ja</td>
				#{/if}
				#{ifnot currentUser.presentSaturday}
					class = "table_no">nein</td>
				#{/ifnot}
			<td #{if currentUser.presentSunday}
					class = "table_yes">ja</td>
				#{/if}
				#{ifnot currentUser.presentSunday}
					class = "table_no">nein</td>
				#{/ifnot}
		</tr>
		#{list presentContacts, as:'contact'}
		<tr>
			<td>${contact.display_name}</td>
			<td #{if contact.prototypeUser.presentMonday}
					class = "table_yes">ja</td>
				#{/if}
				#{ifnot contact.prototypeUser.presentMonday}
					class = "table_no">nein</td>
				#{/ifnot}
			<td #{if contact.prototypeUser.presentTuesday}
					class = "table_yes">ja</td>
				#{/if}
				#{ifnot contact.prototypeUser.presentTuesday}
					class = "table_no">nein</td>
				#{/ifnot}
			<td #{if contact.prototypeUser.presentWednesday}
					class = "table_yes">ja</td>
				#{/if}
				#{ifnot contact.prototypeUser.presentWednesday}
					class = "table_no">nein</td>
				#{/ifnot}
			<td #{if contact.prototypeUser.presentThursday}
					class = "table_yes">ja</td>
				#{/if}
				#{ifnot contact.prototypeUser.presentThursday}
					class = "table_no">nein</td>
				#{/ifnot}
			<td #{if contact.prototypeUser.presentFriday}
					class = "table_yes">ja</td>
				#{/if}
				#{ifnot contact.prototypeUser.presentFriday}
					class = "table_no">nein</td>
				#{/ifnot}
			<td #{if contact.prototypeUser.presentSaturday}
					class = "table_yes">ja</td>
				#{/if}
				#{ifnot contact.prototypeUser.presentSaturday}
					class = "table_no">nein</td>
				#{/ifnot}
			<td #{if contact.prototypeUser.presentSunday}
					class = "table_yes">ja</td>
				#{/if}
				#{ifnot contact.prototypeUser.presentSunday}
					class = "table_no">nein</td>
				#{/ifnot}
		</tr>
		#{/list}
	</tbody>
</table> 
#{/else}