#{extends 'main.html' /}
#{set title:'Einstellungen' /}

<h1>Passwort ändern</h1>

#{form @saveSettings()}
    #{field 'currentUser.password'}
        <p class="${field.errorClass}">
            <strong>Passwort:</strong> <input type="password" name="password" size="16" > *
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    #{field 'verifyPassword'}
        <p class="${field.errorClass}">
            <strong>Passwort wiederholen:</strong> <input type="password" name="${field.name}" size="16" value="${verifyPassword}"> *
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    
    <p class="buttons">
        <input type="submit" value="Save"> <a href="@{start()}">Cancel</a>    
    </p>
#{/form}

#{form @savePresentDays()}

		<p> 
            <h1>An welchen Tagen sind Sie auf der Messe anwesend?</h1>
        </p>
         <p>
             <table>
		       <thead>
		           <tr>
		               <th>Montag</th>
		               <th>Dienstag</th>
		               <th>Mittwoch</th>
		               <th>Donnerstag</th>
		               <th>Freitag</th>
		               <th>Samstag</th>
		               <th>Sonntag</th>
		           </tr>
		       </thead>
		       <tbody>
		               <tr>
		                   <td><input type="checkbox" name="presentMonday" value="true" #{if currentUser?.presentMonday}checked="true"#{/if}></td>
		                   <td><input type="checkbox" name="presentTuesday" value="true" #{if currentUser?.presentTuesday}checked="true"#{/if}></td>
		                   <td><input type="checkbox" name="presentWednesday" value="true" #{if currentUser?.presentWednesday}checked="true"#{/if}></td>
		                   <td><input type="checkbox" name="presentThursday" value="true" #{if currentUser?.presentThursday}checked="true"#{/if}></td>
		                   <td><input type="checkbox" name="presentFriday" value="true" #{if currentUser?.presentFriday}checked="true"#{/if}></td>
		                   <td><input type="checkbox" name="presentSaturday" value="true" #{if currentUser?.presentSaturday}checked="true"#{/if}></td>
		                   <td><input type="checkbox" name="presentSunday" value="true" #{if currentUser?.presentSunday}checked="true"#{/if}></td>
		               </tr>
		       </tbody>
  		 	</table>  
    	</p> 
    	
	<p class="buttons">
        <input type="submit" value="Save"> <a href="@{start()}">Cancel</a>    
    </p>
#{/form}

