#{extends 'main.html' /}
#{set title:'Ximeko - Xing Messe Kontakte' /}

<div id="login">
    
    #{form @login(), id:'formLogin'}
        <p class="field">
            <label>Email:</label>
            <input type="text" name="useremail" size="19" value="${flash.useremail}" />
        </p>
        <p class="field">
            <label>Passwort:</label>
            <input type="password" name="password" size="19"/>
        </p>    
        <p class="buttons">
            <input type="submit" value="Login" />
        </p> 
    #{/form}

    <p>
        <a href="@{register()}">Neues Benutzerkonto anlegen</a>
    </p>

</div>

<script type="text/javascript" charset="${_response_encoding}">
    sessvars.$.clearMem()
</script>
